.frame {
    position: relative;
    width: 1260px;
    height: 1423px;

    background: #ffffff;

    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;
}

.line {
    position: absolute;
    width: 1260px;
    height: 0;
    left: 0;
    top: 5px;
    border-bottom: 1px solid #9B51E0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    /*position: absolute;*/
    display: inline-block;
    height: 29px;
    left: 174px;
    top: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.square {
    /*position: absolute;*/
    width: 50px;
    height: 48px;
    left: 149px;
    top: 30px;

    background: #FFFFFF;
    border: 3px solid #FFC740;
    box-sizing: border-box;
}

.input {
    /*position: absolute;*/
    width: 201px;
    height: 33px;
    left: 909px;
    top: 40px;

    background: #FFFFFF;
    border: 1px solid #6D3D99;
    box-sizing: border-box;
}

.go {
    /*position: absolute;*/
    width: 42px;
    height: 31px;
    left: 1067px;
    top: 41px;

    background: #9B51E0;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border: none;


    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.home-btn {
    /*position: relative;*/
    width: 123px;
    height: 47px;
    left: 147px;
    top: 94px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    background: #FFC740;
    border: none;
}

.other-btns {
    /*position: relative;*/
    width: 123px;
    height: 47px;
    left: 147px;
    top: 94px;
    border: none;
    background: #FFFFFF;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #050505;
}

.head-image {
    display: flex;
    margin-top: 1rem;
}

.head-text {
    /* Aliquam pharetra vulputate */

    position: absolute;
    width: 509px;
    height: 150px;
    left: 190px;
    top: 117px;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #FFC740;

}

.head-content {
    position: absolute;
    /*visibility: hidden;*/
    width: 486px;
    height: 145px;
    left: 185px;
    top: 319px;


}

.head-p {
    position: absolute;
    width: 450px;
    height: 133px;
    left: 0;
    top: 40px;
    text-align: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}


.head-button {
    /*position: absolute;*/
    width: 125px;
    height: 40px;
    left: 214px;
    top: 432px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    background: #6D3D99;
    color: #FFFFFF;
    border: none;
    margin-top: 0.5rem;
}

.up-posts {
    display: flex;
    margin-top: 1rem;

}

.down-posts {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
}

.up-posts-head {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #9B51E0;
}

.up-posts-head-yellow {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #FFC740;
}

.up-posts-head2 {
    /*position: absolute;*/
    width: 180px;
    height: 17px;
    left: 179px;
    top: 523px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.up-posts-head3 {
    /*position: absolute;*/
    width: 282px;
    height: 16px;
    left: 318px;
    top: 523px;

    background: #9B51E0;
}

.up-posts-head3-yellow {
    /*position: absolute;*/
    width: 282px;
    height: 16px;
    left: 318px;
    top: 523px;

    background: #FFC740;
}

.up-posts-bottom {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #9B51E0;
}

.up-posts-bottom2 {
    /*position: absolute;*/
    width: 120px;
    height: 16px;
    left: 159px;
    top: 523px;

}

.up-posts-bottom3 {
    /*position: absolute;*/
    width: 157px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #9B51E0;
}