.frame {
    position: relative;
    width: 1260px;
    height: 1367px;

    background: #ffffff;

    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    text-align: center;
}

.line {
    position: absolute;
    width: 1903px;
    height: 0;
    left: -313px;
    top: -8px;
    border-bottom: 5px solid #9B51E0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.square {
    position: absolute;
    width: 50px;
    height: 48px;
    left: 146px;
    top: 12px;

    background: none;
    border: 3px solid #FFC740;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    height: 23px;
    left: 170px;
    top: 14px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    background: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
}

.input {
    position: absolute;
    width: 201px;
    height: 34px;
    left: 908px;
    top: 40px;

    background: #FFFFFF;
    border: 1px solid #6D3D99;
    box-sizing: border-box;
}

.go {
    position: absolute;
    width: 42px;
    height: 32px;
    left: 1066px;
    top: 41px;

    background: #9B51E0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border: none;


    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.home-btn {
    /*position: relative;*/
    width: 123px;
    height: 47px;
    left: 147px;
    top: 94px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    background: #FFC740;
    border: none;
}

.other-btns {
    /*position: relative;*/
    width: 123px;
    height: 47px;
    left: 147px;
    top: 94px;
    border: none;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #050505;
}

.head-image {
    display: flex;
    margin-top: 1rem;

    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.head-text {
    /* Aliquam pharetra vulputate */

    position: absolute;
    width: 509px;
    height: 150px;
    left: 190px;
    top: 117px;
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #FFC740;

}

.head-content {
    position: absolute;
    /*visibility: hidden;*/
    width: 486px;
    height: 145px;
    left: 185px;
    top: 319px;


}

.head-p {
    position: absolute;
    width: 450px;
    height: 133px;
    left: 0;
    top: 32px;
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}


.head-button {
    position: absolute;
    width: 125px;
    height: 34px;
    left: 0;
    top: 120px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    background: #6D3D99;
    color: #FFFFFF;
    border: none;
    margin-top: 0.5rem;
}

.up-posts {
    display: flex;
    margin-top: 1rem;

}

.down-posts {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
}

.up-posts-head {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;
    font-family: 'Roboto', sans-serif;
    background: #9B51E0;
}

.up-posts-head-yellow {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;
    font-family: 'Roboto', sans-serif;
    background: #FFC740;
}

.up-posts-head2 {
    /*position: absolute;*/
    width: 180px;
    height: 17px;
    left: 179px;
    top: 523px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.up-posts-head3 {
    /*position: absolute;*/
    width: 282px;
    height: 16px;
    left: 318px;
    top: 523px;

    background: #9B51E0;
}

.up-posts-head3-yellow {
    /*position: absolute;*/
    width: 282px;
    height: 16px;
    left: 318px;
    top: 523px;

    background: #FFC740;
}

.up-posts-bottom {
    /*position: absolute;*/
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #FFC740;
}

.up-posts-bottom2 {
    /*position: absolute;*/
    width: 120px;
    height: 16px;
    left: 159px;
    top: 523px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

.up-posts-bottom3 {
    /*position: absolute;*/
    width: 157px;
    height: 16px;
    left: 159px;
    top: 523px;
    background: #FFC740;
}

.under-line {
    width: 16px;
    height: 16px;
    left: 159px;
    top: 523px;

    background: #9B51E0;
}

.under-line2 {
    width: 90px;
    height: 16px;
    left: 159px;
    top: 523px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.under-line3 {
    width: 864px;
    height: 16px;
    left: 159px;
    top: 523px;
    background: #9B51E0;
}

.bottom-images {
    margin: 1rem;
}

.footer {
    background-color: #6D3D99;
    color: #FFFFFF;
    height: 115px;
    text-align: center;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
}